
body {
  font-family: 'Lobster', cursive;
  background: #fff;
  font-size: 1em; padding: 0; margin: 0;
  }
a {
  color: #777;
  text-decoration: none;
  }
a:hover {
  color: #555;
  text-decoration: none;
  }
li {
  color: #036DA7;
  list-style-type: none;
  margin-bottom: 6px;
  }
.wrap {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  }

.header {
  background: url('http://i.imgur.com/pbrY2ri.jpg');
  background-size: cover;
  height: 400px;
  width: 100%;
  margin: 0 0 10px 0;
  }
.header a {
  color: #fff;
  text-decoration: none;
  }
.header h1 {
  color: #eee;
  font-size: 2em;
  padding: 20px 0 0 20px;
  font-weight: 100;
  }
.header h2 {
  color: #eee;
  font-size: 1.2em;
  padding: 0 0 0 20px;
  font-weight: 100;
  }
.project-links-links {
  float: right;
  padding: 30px 20px 0 0;
  }
.project-links-links a {
  color:black;
  padding: 0 10px;
  }
.project-links-links a:hover {
  color:#fff;
  }
.project-links {
  width: 210px;
  float: right;
  color: black;
  margin-right: 20px;
  }
.project-links .side-box {
  margin-bottom: 10px;
  padding: 10px 3px;
  color: black;
  }
.project-links h2 {
  font-size: 1.2em;
  font-weight: 100;
  padding: 3px;
  }
.content {
  margin-left: 20px;
  margin-right: 250px;
  text-align: justify;
  color: #777;
  }
.photo {
  padding: 1em;
  margin: 0 auto;
}
.content h2 {
  color: #fff;
  font-size: 1.4em;
  font-weight: 200;
  }
.content p {
  margin: 0 auto;
  line-height: 25px;
  }
